$backgroundBlockColor: #222222;
$widthContent: 1140px;
$backgroundAfterHeaderColor: #F1E4E6;
$brandColor: #F16D7F;
$colorOfTextBrand: #222;
$colorOfFooter: #FBFBFB;
$colorOfMenuFilterCatalog: #EF5B70;